h1 {
  text-align: center;
  margin-top: 3rem;
}
span {
 display: flex;
 flex-direction: column;
 align-items: center;
}
a {
  color: #fe4a49;
  text-decoration: none;
  font-weight: 700;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
}
a:hover {
   background-color: #FFB098;
   transition: background-color 500ms
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
li {
  margin: 15px;
  padding: 15px;
  width: 37%;
  border: 1px solid #8cdcfa;
  background-color: #8cdcfa;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
li h3 {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

